<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>I'm in the AppComponent!</h2>
      <hr>

      <!--using the selector style-->
      <app-servers></app-servers>

      <!--
        using the attribute style
        <div app-servers></div>
      -->
      <!--
        using the class style
        <div class="app-servers"></div>
      -->
      <hr>
      <app-error-alert></app-error-alert>
      <app-warning-alert></app-warning-alert>
      <app-success-alert></app-success-alert>
    </div>
  </div>
</div>